<% @sep="-" %><% @title="Generator Surat" %><% @generator="class=active" %>
<h1>Generator</h1>
<ul>
	<li>Generator Surat Perintah Kerja</li>
	<li>Generator Surat Cuti</li>
	<li>Generator Surat Peminjaman</li>
</ul>
